@import "partials/mixins";
@import "partials/variables";

html {@include bs;}
*, *:before, *:after {@include bs(inherit);}
html {font-size: 62.5%;}

.containerTop {
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.containerImg {
  background-image: url('../img/tlo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $color4B;
  }
}

.headerNav {
  margin: 0 auto;
}
.navTop {
  background-color: $color6;
  border: 0 solid $color6;
}

.logoS {
  height: $fontSizeLogo;
  padding: 0 1rem;
  margin: 1rem auto;
  .fa-desktop {
    font-size: $fontSizeLogo;
    color: $color1;
  }
  .logoText {
    @include fontRighteous($color1,$fontSizeLogo);
    padding-left: 1rem;
  }
}

#bs-example-navbar-collapse-1 {
  .menuOnTop {
    list-style: none;
    height: $fontSizeLogo;
    padding: 0 1rem;
    margin: 1rem auto;
    line-height: $fontSizeLogo;
    &__item {
      display: inline-block;
      &--link {
        font-size: $fontSizeLine;
        color: $color1;
        text-decoration: none;
        padding: 1rem 0.5rem;
        &:focus {
          color: $color1;
          text-decoration: none;
        }
        &:hover {
          color: $color7;
          text-decoration: none;
        }
      }
    }
  }
}
.topHeader {
  @include fontRighteous($color1,inherit);
  &__tyt {
    padding-top: 3rem;
    font-size: $fontSizeH1;
  }
  &__txt {
    font-size: $fontSizeH4;
  }
}

.buton {
  padding: 5rem 0 10rem;
  margin: 0rem auto; /* center buuton*/
  &__btn {
    text-align: center; /* center text*/
    &--txt {
      @include fontRighteous($color1,$fontSizeButton);
      background-color: $color6;
      border: 0.2rem solid $color1;
      @include border-radius(4rem);
      padding: 1.6rem 3rem; /* vertical < .buton.vertical horizontal - widht of button*/
      &:focus {
        text-decoration: none;
        color: $color1;
      }
      &:hover {
        color: $color1;
        background-color: $color3;
        text-decoration: none;
      }
    }
  }
}
.textHeader {
  padding: 1rem 0rem 1rem;
  margin: 1rem 0rem 1rem;
}
.textHeader__tyt {
  padding: 1rem 0rem 1rem;
  margin: 1rem 0rem 1rem;
  &--txt {
    @include fontRighteous($color5,1.2*$fontSizeH1);
    margin: 1rem 0 0.7rem;
  }
  &--underline {
    height: 0.2rem;
    width: 20rem;
    background-color: $color3;
    margin: 0 auto;
  }
}
.textHeader__inn {
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem auto;
  &--tyt {
    @include fontRighteous(inherit,$fontSizeH3);
  }
  &--txt {
    font-size: $fontSizeLine;
    line-height: $fontSizeLine;
    text-align: justify;
    &--more {
      color: $color3;
      text-decoration: none;
      padding-left: 1.5rem;
      &:focus {
        text-decoration: none;
        color: $color3;
      }
      &:hover {
        text-decoration: none;
        color: $color3;
      }
    }
  }
}

.buton2 {
  padding: 5rem 0 10rem;
  margin: 0rem auto; /* center buuton*/
  &__btn {
    text-align: center; /* center text*/
    &--txt {
      @include fontRighteous($color1,$fontSizeButton);
      background-color: $color3;
      border: 0.2rem solid $color3;
      @include border-radius(4rem);
      padding: 1.6rem 3rem; /* vertical < .buton.vertical horizontal - widht of button*/
      &:focus {
        text-decoration: none;
        color: $color1;
      }
      &:hover {
        color: $color1;
        background-color: $color2;
        border-color: $color2;
        text-decoration: none;
      }
    }
  }
}

.noPadMar {
  padding: 0;
  margin: 0;
}
.galeriaDiv {
  background-color: $color5;
  padding: 0 3rem;
}
.galeriaHead {
  padding: 5rem 0rem 3rem;
  margin: 1rem 0rem 1rem;
  &__tyt {
    @include fontRighteous($color1,1.2*$fontSizeH1);
    margin: 1rem 0 0.7rem;
  }
  &__underline {
    height: 0.2rem;
    width: 12rem;
    background-color: $color3;
    margin: 0 auto;
  }
}
.divImg {
  padding: 5rem 0rem;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

/* Image zoom on hover + Overlay color */
.imageBox {
  width: 100%;
  margin: 2rem 0rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0;
}

.imageBox__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* Several different images */
.imgOne {background-image: url('http://lorempixel.com/400/200/sports/');}
.imgTwo {background-image: url('http://lorempixel.com/400/200/nature/');}
.imgThree {background-image: url('http://lorempixel.com/400/200/city/');}

.aImage {
  display: none;
  color: $color1;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 5rem;
  cursor: pointer;
  text-decoration: none;
  &__tyt {
    @include fontRighteous(inherit,$fontSizeImg);
  }
  &__txt {
    font-family: sans-serif;
    font-size: $fontSizeNorm;
  }
}
.imageBox:hover .imageBox__img,  .imageBox:focus .imageBox__img {
  @include tscale;
}
.imageBox:hover .imageBox__img:before, .imageBox:focus .imageBox__img:before {
  display: block;
}
.imageBox:hover .aImage, .imageBox:focus .aImage {
  display: block;
  text-decoration: none;
  color: $color1;
}
.imageBox__img:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color4A;
}

.divContact {
  padding: 1rem 0 1rem;
  background-color: $color3;
  // font-size: $fontSizeH1double;
  &__box {
    color: $color1;
    padding: 5rem 0;
    &--text {
      font-size: $fontSizeH3;
      line-height: $fontSizeH3;
      padding-top: 1rem;
    }
  }
}
.bigIco {
  font-size: $fontSizeH1double;
}
.smallIco {
  font-size: $fontSizeH3;
  padding-right: 1rem;
}
