$defined-bs-type: border-box !default;
@mixin bs($bs-type: $defined-bs-type) {
  -webkit-box-sizing: $bs-type;
  -moz-box-sizing: $bs-type;
  box-sizing: $bs-type;
}

@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}

	padding: {
		left: 0;
		right: 0;
	}
}

@mixin fontRighteous($color: inherit, $size: inherit) {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: $size;
  color: $color;
}
@mixin border-radius($radius: 0rem) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin scale($size: 1.2) {
  -ms-transform: scale($size);
  -webkit-transform: scale($size);
  transform: scale($size);
}
