$defined-bs-type: border-box !default;
@mixin bs($bs-type: $defined-bs-type) {
  -webkit-box-sizing: $bs-type;
  -moz-box-sizing: $bs-type;
  box-sizing: $bs-type;
}

@mixin push--auto {
	margin: {
		left: auto;
		right: auto;
	}

	padding: {
		left: 0;
		right: 0;
	}
}

@mixin fontRighteous($size: inherit) {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: $size;
}
