$color1: #FFFFFF; /*text*/
$color2: #BABABA; /* button hover*/
$color3: #FF3838; /* button, tetxt, contact*/
$color4: rgba(72, 101, 199, 1); /* button & texty*/
$color4A: rgba($color4,0.70);
$color4B: rgba($color4,0.55);
$color5: #292929; /* galeria background*/
$color6: transparent; /* button background*/
$color7: #E6DB6C; /* top menu hover*/
$FamilyFont1: 'Righteous', cursive;
$fontSizeH1: 4.8rem;
$fontSizeH3: 2.8rem;
$fontSizeH4: 2.4rem;
$fontSizeLine: 1.4rem;
$fontSizeNorm: 1.0rem;
$fontSizeLogo: 4.0rem;
$fontSizeButton: 2.4rem;
$fontSizeImg: 3.0rem;
